name: RelativeCI Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Develop
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      NEXT_PUBLIC_ENABLE_TRACK: ${{ vars.ENABLE_TRACK }}
      FEC_API_TOKEN: ${{vars.FEC_API_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
            node-version: lts/iron
      - run: "corepack enable"

      # Install dependencies
      - run: yarn install

      # Build and output bundle stats
      - run: yarn build -- --json webpack-stats.json

      - name: Send bundle stats to RelativeCI
        uses: relative-ci/agent-action@v3
        with:
          webpackStatsFile: ./webpack-stats.json
          key: ${{ secrets.RELATIVE_CI_KEY }}
