name: Smoke Test

on:
  workflow_dispatch:
    inputs:
      target_environment:
        description: Select deployment environment for smoke test
        required: true
        type: environment
        default: Prod-CN

concurrency:
  group: smoke-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-image:
    uses: ./.github/workflows/reusable-docker-build.yml
    with:
      environment: ${{ inputs.target_environment }}
      image_tags: furrycons:ci
      env_vars: |
        NEXT_PUBLIC_ENABLE_TRACK=${{ vars.ENABLE_TRACK }},
        NEXT_PUBLIC_REGION=${{ vars.NEXT_PUBLIC_REGION }},
        NEXT_PUBLIC_WEBSITE_URL=${{ vars.NEXT_PUBLIC_WEBSITE_URL }},
        FEC_API_TOKEN=${{ vars.FEC_API_TOKEN }}
    secrets:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      REVALIDATE_TOKEN: ${{ secrets.REVALIDATE_TOKEN }}

  docker-smoke:
    uses: ./.github/workflows/reusable-smoke-test.yml
    needs: build-image
    with:
      environment: ${{ inputs.target_environment }}
      image_name: furrycons:ci
      artifact_name: docker-image
      container_port: "3000"
      path_to_test: /about
      timeout_minutes: 15
